* {
  margin: 0;
  padding : 0;
}

body{
  background-image: url('../images/galaxy-background.webp');
}

h1{ 
  color: antiquewhite;
  padding : 30px;
}

p{
  color: antiquewhite;
  padding : 20px;
}

.quiz-title, .options {
  margin : 50px 50px;
  width : 75%;
  max-width : 100%;
  background-color: black;
  border-radius: 50px;
  text-align: center;
}

