* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/galaxy-background.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

h1 {
  color: #fff;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  -webkit-background-clip: text;
  padding-bottom: 20px;
}

.quiz-title {
  padding: 30px;
  max-width: 500px;


}

.content_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.options {
  max-width: 500px;
}

p {
  color: #fff;

}

ul {
  margin: 0;
  padding: 0;
  margin: auto;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  min-width: 100px;
  display: block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btnPrimary {
  background-color: #86289e;
  color: #fff;
}

.btnPrimary:hover {
  background-color: #000;
  color: #fff;
}

ul li {
  color: #fff;
  padding-bottom: 10px;
}

.play_page .quiz-title {
  margin-bottom: 75px;
}

.play_page .options .button_section {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quiz-title, .options {
  box-shadow: -1px 1px 56px 31px rgba(255, 255, 255, 0.79);
  -webkit-box-shadow: -1px 1px 56px 31px rgba(255, 255, 255, 0.79);
  -moz-box-shadow: -1px 1px 56px 31px rgba(255, 255, 255, 0.79);

  background-color: #808080;
  border-radius: 10px;
  text-align: center;
}


/* play */


.play_page .play_wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 500px;

  border-radius: 5px;
  gap: 20px;
}

.play_page .play_wrap form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #808080;
  max-width: 500px;
  padding: 20px;
}

.play_page .play_wrap form .form_elem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;

}

.play_page .play_wrap form .form_elem span {
  padding-bottom: 10px;

}

.score-counter {
  height: fit-content;
  align-self: flex-start;
  background-color: #808080;
  padding: 20px;
}