/* Change default margin and padding for all elements*/
* {
  margin: 0;
  padding: 0;
}

/* Styles for body and setting the background image*/
body {
  background-image: url('../images/galaxy-background.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Make content centered vertically and horizontally */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
}

/* Styles for h1 and color gradient used for text */
h1 {
  color: #fff;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  -webkit-background-clip: text;
  padding-bottom: 20px;

}

.last_question {
  display: none;
}

/* Styles for class quiz-title */
.quiz-title {
  padding: 30px;
  max-width: 500px;
}

/* Styles for class content_wrapper */
.content_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for class of options*/
.options {
  max-width: 500px;
}

/* All paragraph tag styling */
p {
  color: #fff;

}

/* Changing the default margin and padding for the unordered lists */
ul {
  margin: 0;
  padding: 0;
  margin: auto;
}

/* Styling for buttons */
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  min-width: 100px;
  display: block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Styling for primary buttons */
.btnPrimary {
  background-color: #86289e;
  color: #fff;
}

/* Change color on buttons when hovered over */
.btnPrimary:hover {
  background-color: #000;
  color: #fff;
}

/* Styling for unordered list, list items */
ul li {
  color: #fff;
  padding-bottom: 10px;
}

footer {
  margin-top: 60px;
}

/* Styling for quiz title and options classes */
.play_page .quiz-title {
  margin-bottom: 75px;
}

/* Styling for play page, options  and button selection classes */
.play_page .options .button_section {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Styling for quiz title and options classes, adds shadow halo effect around content */
.quiz-title, .options {
  box-shadow: -1px 1px 56px 31px rgba(255, 255, 255, 0.79);
  -webkit-box-shadow: -1px 1px 56px 31px rgba(255, 255, 255, 0.79);
  -moz-box-shadow: -1px 1px 56px 31px rgba(255, 255, 255, 0.79);

  background-color: #808080;
  border-radius: 10px;
  text-align: center;
}

.play_page .play_wrap form .questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* play */

/* Styling for play wrapper */
.play_page .play_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 20px;
}

/* Styling for form in play wrapper */
.play_page .play_wrap form {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  background-color: #808080;
  width: 300px;
  padding: 20px;

  /* overflow-y: scroll; */
}

/* Styling for form elements in play wrapper */
.play_page .play_wrap form .form_elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  gap: 10px;
}

.play_page .play_wrap form .form_elem:last-of-type {
  padding-bottom: 0px;
}

/* Styling for spans in form elemenents */
.play_page .play_wrap form .form_elem span {
  padding-bottom: 10px;

}

form.quiz_cont .question_cont {
  padding-bottom: 30px;
  display: none;
}

form.quiz_cont .question_cont h2 {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;

}

form .questions_map {
  padding-bottom: 10px;
}

form.quiz_cont .question_cont:last-of-type {
  padding-bottom: 0px;
}

/* Styles for score counter content */
.score-counter {
  height: fit-content;
  align-self: flex-start;
  background-color: #808080;
  padding: 20px;
  min-width: 150px;
}

.winner {
  display: none;
}

.winner_wrap {
  display: none;
}

.winner_wrap.show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c0c0cad;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.winner_wrap .winner {
  padding: 50px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.winner_wrap .winner p {

  color: #000;

}

.winner_wrap .winner .close {
  padding: 0px 7px;
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.form_elem .show {
  display: block;
}

.form_elem .hide {
  display: none;
}

.checkAnswers.all-answered-true {
  user-select: none;
  background-color: #00ff00;

}

.checkAnswers {
  background-color: red;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.buttons_wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.question_count {
  padding-bottom: 20px;
}